<div class="my-8 -mx-4 md:-mx-8 px-4 md:px-8 py-8 bg-flutter-lighter-blue text-flutter-dark-gray border-dashed border-8 border-flutter-dark-blue">
  <h3 class="mt-2">
    The best from the Flutter-verse in 3 minutes or less? Join Snacks!
  </h3>
  <div class="w-full text-center">
    {{ partial "cta" (dict "type" "bottom" "submitText" "I want Snacks!" "okText" "Success! You're in!") }}
  </div>
  <span class="text-sm">
    <strong>Delivered twice monthly</strong>.
    No link walls. No spam. EVER.
  </span>
</div>